<h2> wE-Shop coupons
<!--   -->
<!--   -->
</h2>
<h3>The best online shopping place</h3>
<h3>Home Design, Fashion, Restaurants, Concerts and many more</h3>
<div class="home">

<img src="assets\images\dance.jpg" >
<img id=flower src="assets\images\flowers.jpg">

<img src="assets\images\cupcakes.jpg">

<img src="assets\images\coldCoffee.jpg" id="dance">


<img src="assets\images\dsBuffer.bmp.png">

 


<img src="assets\images\4burger.jpg">
 
 
 
 
 
 
 
 

<!-- <h3>The best online shopping place </h3> -->



</div>