<mat-toolbar class="bar">
     <div>
    <button style="background-color: tomato;" (click)="navAllCom()">Watch Companies</button>
    <button style="background-color: rgb(92, 202, 191);" (click)="navAllCust()">Watch Customers</button> 
    <button style="background-color:rebeccapurple;" (click)="navAddCom()">Add a Company</button>
    <button style="background-color: purple;" (click)=" navAddCust()">Add a Customer</button>
    <button  style="background-color: rgb(199, 137, 22);" (click)="navallCoup()">Watch All Coupons</button>
 </div> 
</mat-toolbar>
 