<!-- <h2>{{customerName}}'s purchases</h2> -->
<customer-bar></customer-bar>
<br><br>
<div  *ngIf="coupons?.length>0" >
    <!-- <table  class="table table-hover">  -->
<table datatable id="datatable" [dtOptions]="dtOptions" *ngIf="coupons" 
 class="table table-hover table-striped table-bordered" >
     <thead>
        <tr>
            <th scope="col"  >#</th>
            <th  scope="col" >Title</th>
            <th  scope="col" >Category</th>
            <th  scope="col" >Price (ILS)</th>
            <th  scope="col" >Start Date</th>
            <th   scope="col">End Date</th>
            <th  scope="col"  >Preview</th>
         </tr>

     </thead>
     <tbody>
        <tr *ngFor="let c of coupons">
            <th scope="row"></th>
            <td><br>{{c.title}}</td>
            <td><br>{{c.category}}</td>
              <td><br>{{c.price }}</td>
            <td><br>{{c.startDate | date}}</td>
            <td><br>{{c.endDate | date}}</td>
           
            <td>
                <div>
                    <button class="btn btn-white" [routerLink]="['/coupon/',c.id]"
                     routerLinkActive="router-link-active"> 
                         Display
                    </button>
                </div>
                                     
             
            </td>
        </tr>
     </tbody>

 </table></div>
 <span *ngIf="coupons?.length==0">
    no purchases by now..    
    <img width="70px" src="assets/images/no-content.png"> 
  </span>